.Preview {
  height: auto;
  margin: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.header {
  max-width: 100%;
}

.welcome {
  position: relative;
  height: 300px;
  margin-top: -5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.welcome li {
  margin: 0rem 0.5rem;
  display: inline-block;
  color: #fff !important;
}

.welcome a {
  color: #fff !important;
}

.welcome h2 {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
  font-family: "Playfair Display", serif;
}

.box {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 1.5rem 0.5rem;
}

.box h2 {
  font-size: 1.4rem;
  color: #464646;
  margin: 0;
}

.icon {
  font-size: 1.5rem;
  color: #e74124;
  position: relative;
}

.decorator {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.decorator div {
  height: 1.4px;
  width: 50px;
  margin: 0rem 0.6rem;
  background-color: #e74124;
}

.img {
  background-size: cover;
  background-position: center;
  height: 250px;
  border-radius: 10px;
}
