.Preview {
  height: auto;
  margin: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.header {
  max-width: 100%;
}

.welcome {
  position: relative;
  height: 300px;
  margin-top: -5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.welcome li {
  margin: 0rem 0.5rem;
  display: inline-block;
  color: #fff !important;
}

.welcome a {
  color: #fff !important;
}

.welcome h2 {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
  font-family: "Playfair Display", serif;
}

.box {
  display: flex;
  height: auto;
  align-items: center;
  padding: 2.5rem 1rem;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.box h4 {
  font-size: 1rem;
  margin: 0;
  color: #e62222;
}

.box h3 {
  margin: 0;
  font-size: 1.4rem;
  font-family: "Playfair Display", serif;
  padding-top: 0.4rem;
  color: #464646;
}

.box h3::after {
  height: 1px;
  width: 60px;
  content: " ";
  display: block;
  margin: 0.4rem auto;
  background-color: #e62222;
}
