.Preview {
  height: auto;
  margin: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff;
}

.header {
  max-width: 100%;
}

.welcome {
  position: relative;
  height: 300px;
  margin-top: -5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.welcome li {
  margin: 0rem 0.5rem;
  display: inline-block;
  color: #fff !important;
}

.welcome a {
  color: #fff !important;
}

.welcome h2 {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
  font-family: "Playfair Display", serif;
}

.info {
  height: auto;
  background-color: #fff;
  padding: 3rem 0.5rem;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 0.5rem;
}

.info p {
  margin-bottom: 0.2rem;
  color: rgb(70, 70, 70);
}

.slot {
  padding: 2.5rem 1rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.slot i {
  color: #e62222;
  font-size: 3rem;
  margin-bottom: 0.7rem;
}

.slot h3 {
  color: #555;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.slot p {
  margin-bottom: 0.2rem;
  color: rgb(70, 70, 70);
  text-align: center;
}

@media (max-width: 600px) {
  .welcome h2 {
    font-size: 1.5rem;
  }
}
