.Preview {
  height: auto;
  margin: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.header {
  max-width: 100%;
}

.welcome {
  color: #fff;
  height: 370px;
  margin-top: -5px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.content {
  top: 50%;
  left: 15%;
  position: absolute;
  max-width: 600px;
  transform: translateY(-50%);
}

.content h2 {
  font-weight: 800;
  font-size: 1.7rem;
  margin-bottom: 0.6rem;
}

.btn,
.btnGhost {
  padding: 8px 42px;
  margin-top: 2rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s;
  margin-right: 0.6rem;
}

.btn {
  color: #fff;
  background-color: #e62222;
}

.btnGhost {
  color: #e62222;
}

.services {
  background-color: #fff;
  padding: 2rem 0.5rem;
}

.About {
  background-color: #fff;
  padding: 2rem 0.5rem;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -10px;
}

.box {
  height: auto;
  padding-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box h3 {
  margin: 0;
  color: #e62222;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.box h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
  max-width: 500px;
  text-transform: capitalize;
}

.top {
  position: absolute;
  height: 300px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #071c1f;
}

.grid,
.grid2 {
  padding: 30px 30px 6px 40px;
  background-color: #fff;
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 5%);
  height: 250px;
  margin-bottom: 2.5rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid2 {
  background: linear-gradient(rgba(228, 69, 48, 0.92), rgba(228, 69, 48, 0.92)),
    url("../../../../assets/img/bg.webp");
  background-size: cover;
  background-position: center;
}

.grid i,
.grid2 i {
  color: #e62222;
  font-size: 2.5rem;
}

.grid i {
  color: #e62222;
}

.grid2 i {
  color: #fff;
}

.grid h4,
.grid2 h4 {
  font-size: 1.1rem;
  margin: 0;
  padding: 0.6rem 0rem;
}

.grid h4 {
  color: #e62222;
}

.grid2 h4 {
  color: #fff;
}

.grid p,
.grid2 p {
  margin: 0;
  font-size: 0.9rem;
}

.grid p {
  color: rgb(70, 70, 70);
}

.grid2 p {
  color: #fff;
}

.box2 {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 2rem;
}

.image {
  height: 375px;
  background-size: cover;
  background-position: center;
}

.info {
  height: 400px;
  padding: 0rem 1rem;
}

.info h5 {
  font-size: 0.9rem;
  text-transform: capitalize;
  color: #e62222;
  margin: 0;
}

.info h4 {
  margin: 0;
  padding: 0.3rem 0rem;
  font-size: 1.8rem;
  color: rgb(70, 70, 70);
  text-transform: capitalize;
  /* font-family: "Playfair Display", serif; */
}

.info p {
  color: rgb(70, 70, 70);
}

.info ul {
  list-style: none;
  padding-left: 0;
}

.info li {
  font-weight: 500;
  margin: 0.6rem 0rem;
  color: rgb(70, 70, 70);
}

.info i {
  color: #e62222;
}

.btnFull {
  padding: 7px 62px;
  margin-top: 0.22rem;
  font-size: 1.05rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s;
  margin-right: 0.6rem;
  background-color: #e62222;
  color: #fff;
}

.btnFull i {
  color: #fff !important;
}

.btnFull:hover {
  background-color: #555;
  color: #fff;
}

.box2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box2 h2 {
  font-size: 1.5rem;
  color: #464646;
  margin: 0;
  font-family: "Playfair Display", serif;
}

.icon {
  font-size: 1.5rem;
  color: #e62222;
  position: relative;
}

.decorator {
  display: flex;
  align-items: center;
}

.decorator div {
  height: 1.4px;
  width: 50px;
  margin: 0rem 0.6rem;
  background-color: #e62222;
}

.description {
  margin: 0;
  color: #464646;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  font-size: 1.1rem;
  font-weight: 400;
  max-width: 600px;
  text-align: center;
}