.Map {
  height: auto;
  margin: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding-bottom: 1rem;
}

.btn,
.btnReset {
  margin-top: 1rem;
  color: #fff;
  font-size: 1rem;
  padding: 8px 64px;
  width: 100%;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
}

.box {
  height: auto;
  padding: 1rem 0rem;
}

.btn {
  background-color: #324fa7;
}
.btnReset {
  background-color: #dbdbdb;
  color: rgb(199, 20, 20);
}

.box {
  padding: 2rem 0rem;
}

.btn:disabled,
.btn:disabled:hover {
  background-color: #6981c9;
}

.btn:hover {
  background-color: #1c2e63;
}

.preview {
  width: 100%;
  height: 400px;
  border: 2px dashed #324fa7;
}

.preview iframe {
  width: 100% !important;
  height: 100% !important;
}
