.Root {
  min-height: 580px;
  border-radius: 5px;
  background-color: #27293d;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
}

.Tabs {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27293d;
  border-radius: 5px 5px 0px 0px;
}

.Tabs h3 {
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.Tabs h3:hover {
  color: var(--primary-color) !important;
}

.slab {
  border-right: 1px solid rgb(175, 175, 175);
}

.active {
  color: var(--primary-color) !important;
}
