.item {
  height: 300px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
}

.image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.imageBox {
  position: absolute;
  width: 100%;
  height: 70%;
}

.info {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background-color: #fff;
  padding: 0.5rem 1rem;
}

.item h3 {
  margin: 0;
  font-size: 1.1rem;
  padding-top: 0.5rem;
  color: var(--primary-color);
  font-weight: 600;
}

.item p {
  font-size: 0.9rem;
  color: #464646;
  padding: 0.4rem 0;
  margin: 0 0 0.5rem;
}

.btn2 {
  padding: 5px 32px;
  font-size: 0.9rem;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s;
  background-color: var(--primary-color);
}

.center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-top: 0.4rem;
}

.btn {
  font-size: 0.9rem;
  padding: 3px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s;
  margin-bottom: 1rem;
  margin-right: 0.4rem;
}

.full {
  background-color: rgb(30, 138, 16);
  color: #fff;
}

.ghost {
  background-color: rgb(187, 24, 24);
  color: #fff;
  box-shadow: 0 0 30px 0 rgb(31 140 236/ 20%);
}

.ghost:hover {
  background-color: rgb(117, 16, 16);
}

.infoText {
  color: #494f5a;
  font-weight: 600;
}
