.product {
  height: 280px;
  position: relative;
  background-color: #fff;
}

.icon {
  height: 50px;
}

.image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 75%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.image:hover {
  cursor: pointer;
  box-shadow: 5px 9px 22px rgb(20 30 30 / 15%);
}

.info {
  bottom: 0;
  height: 25%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem 0rem;
}

.info h3,
.info h4 {
  margin: 0;
}

.info h4 {
  color: #a4a4a3;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 500;
  font-weight: normal;
}

.info h3 {
  color: #333;
  margin-top: 5px;
  font-family: "Raleway", sans-serif;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.info:hover h3 {
  color: var(--primary-color);
  cursor: pointer;
}
